.header{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    height: 70px;
}
.header a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 36px;
    display: inline-block;
    position: relative;
  }
.header a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.header a:hover::after {
    transform: scaleX(1);
    color: #FF9900;
    transform-origin: bottom left;
  }